@font-face {
    font-family: "Open Sans";  
    src: url("../fonts/OpenSans-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;
}
@font-face {
    font-family: "Open Sans";  
    src: url("../fonts/OpenSans-Bold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: bold;
}
@font-face {
    font-family: "Open Sans";  
    src: url("../fonts/OpenSans-SemiBold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: semibold;
}
@font-face {
    font-family: "Open Sans";  
    src: url("../fonts/OpenSans-Italic.ttf") format("truetype"); 
    font-style: italic; 
    font-weight: normal;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: semibold;
}
main {
    height: 100vh;
    background: url('../img/backgroundAT.jpg') no-repeat;
    background-size: cover;
    position: relative;
}
main::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(220, 241, 248, 0.5);
}
main .center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
}
.doneWrapper, .todoWrapper {
    background: white;
    color: rgb(29, 54, 59);
    font-weight: normal;
    border-radius: 8px;
    padding: 50px 40px;
    font-size: 1.2em;
    margin-bottom: 30px;
}
.doneWrapper h3, .todoWrapper h3 {
    text-align: center;
    font-weight: 700;
    color: #222;
    margin-bottom: 40px;
    font-size: 2em;
}
.doneTasks-body label {
    color: rgba(29, 54, 59, 0.5);
    text-decoration: line-through;
    text-decoration-color: rgb(29, 54, 59);
}
.doneTasks-body textarea {
    color: rgba(29, 54, 59, 0.5);
    text-decoration: line-through;
}
.lpd {margin-left: 20px;}
.underLabel[readonly]{
    background: #fff;
    border: none;
    resize: none;
    font-size: 0.6em;
    line-height: 1.5em;
    margin-top: 5px;
}
.todoTasks-footer , .doneTasks-footer {
    margin-top: 30px;
    display:flex;
    justify-content: flex-end;

}

/* .toDoTasks-footer , .doneTasks-footer {
    margin-top: 30px;
    display:flex;
    justify-content: flex-end;

}
#OMAddNewTask {
    padding: 10px 20px;
}
.underLabel {
    margin-left: 30px;
    margin-top: 5px;
    background: #fff;
    border: none;
    resize: none;
    overflow: hidden;
    font-size: 0.6em;
    line-height: 1.5em;
}
.toDoTasks-body .forStyles textarea {
    color: rgb(41, 66, 70);
}
.doneTasks-body .forStyles label {
    color: rgba(29, 54, 59, 0.5);
    text-decoration: line-through;
    text-decoration-color: rgb(29, 54, 59);
}
.doneTasks-body .forStyles textarea {
    color: rgba(29, 54, 59, 0.5);
    text-decoration: line-through;
} */

#editorModalCenterTitle, #exampleModalCenterTitle {
    font-weight: 700;
    color: rgb(42, 51, 82);
    font-size: 1.4em;
}
#OMAddNewTask {
    padding: 10px 20px;
}
#newTask-label, #editTask-label, #editTask-desc, #newTask-desc {
    padding: 5px 10px;
    margin-bottom: 20px;
    border: 2px solid rgb(42, 51, 82);
    border-radius: 5px;
}
#editTask-description, #newTask-desc {
    resize: none;
}
.btns {
    background: rgb(138, 192, 206);
    border-color: rgb(109, 159, 172);
}
.btns:hover {
    background: rgb(138, 192, 206);
    border-color: rgb(109, 159, 172);
}
.btns:active {
    background: rgb(138, 192, 206);
    border-color: rgb(109, 159, 172);
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle, .show>.btn-primary.dropdown-toggle:focus {
    background: rgb(108, 174, 190);
    border-color: rgb(89, 151, 167);
    box-shadow: 0 0 0 0.2rem rgba(89, 151, 167, 0.534);
}
.btns:focus {
    background: rgb(108, 174, 190);
    border-color: rgb(89, 151, 167);
    box-shadow: 0 0 0 0.2rem rgba(89, 151, 167, 0.534);
}
@media (min-width: 768px) and (max-width: 992px){
	.underLabel {
        max-height: 50em;
        max-width: 12em;
    }
    main h3 {
        font-size: 1.8em;
    }
}
@media (min-width: 0px) and (max-width: 455px){
	.underLabel {
        max-height: 50em;
        max-width: 12em;
    }
    main h3 {
        font-size: 1.5em;
    }
    .btns {
        font-size: 0.7em;
        margin: 0px;
    }
    .toDoWrapper , .doneWrapper {
        font-size: 1.1em;
    }
}